body {
  background-color: #190061;
}

.jumbotron {
  background-color: #240090;
}

.form-group {
  width: 385px;
}

form label {
  font-weight: 600;
}

#tclabel {
  font-weight: normal;
  font-size: small;
}

textarea {
  width: 100%;
}

.nav-link a:link,
a:visited {
  color: #ffa343 !important;
}

a:hover,
a:active {
  color: gold !important;
  -webkit-transform: scale(1.1);
}

.nav-link a {
  color: #ffa343 !important;
}

.nav-link {
  color: #ffa343 !important;
}
thead tr {
  background-color: #98fb98 !important;
}

tr {
  background-color: #e6ffe6;
}

tr:nth-child(even) {
  background-color: #eee8aa !important;
}

.navbar-brand {
  color: #ffa343 !important;
}
