body {
  background-color: #190061;
}

.jumbotron {
  background-color: #240090;
}

.form-group {
  width: 385px;
}

form label {
  font-weight: 600;
}

#tclabel {
  font-weight: normal;
  font-size: small;
}

textarea {
  width: 100%;
}
